html,
body {
  font-family: 'HCSans', 'Microsoft YaHei', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #141414;
  color: #cfd3dc;
}

/* 统一的背景颜色过渡 */
.el-menu-item,
.el-menu-item .el-menu-item-content,
.el-menu-item i {
  font-size: 16px;
  background-color: #141414 !important; /* 默认背景色 */
  color: #cfd3dc !important; /* 默认文字和图标颜色 */
  transition: background-color 0.3s ease; /* 添加平滑的背景颜色过渡 */
}

/* hover 状态 */
.el-menu-item:hover,
.el-menu-item:hover i,
.el-menu-item:hover .el-menu-item-content {
  background-color: #303030 !important; /* hover 背景色 */
}

/* 通过 transition 保证图标背景的同步 */
.el-menu-item:hover svg {
  background-color: #303030 !important; /* 确保图标的背景色也能同步 */
  transition: background-color 0.3s ease; /* 使图标的背景颜色也有平滑的过渡 */
}
